@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color:grey;
    font-family: 'Special Elite', cursive;
    }

.Anecdote {
    font-family: 'Special Elite', cursive;
    margin-right: 15px;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    padding: 25px;
    text-align: center;
    display: flex;
    letter-spacing: 1;
    font-size: 18px;
    line-height: 19px;
}

.Votes {
    margin-left: 10px;;
    margin-right: 55px;
}

.Fixed {
    position: fixed;
}

.Float {
    float: left;
}

.Anecdote p {
    vertical-align: middle;
    margin: auto;
}

input {
    width: 100px;
    margin: 10px;
}