@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');

body {
    background-color: rgb(73, 71, 71);
    color:rgba(245, 245, 245, 0.932);
    font-family: 'Montserrat', sans-serif;
    padding:0;
}

h1 {
    color: rgb(226, 163, 28);
    background-color: rgb(54, 54, 54);
    padding: 5px 10px; 
    width: 30%;
    font-weight: 300;
}

.ButtonRow {
    margin: 15px;
    margin-left: 25px;
}

.Button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    color:whitesmoke;
    background-color: rgb(94, 93, 93);
    width: 70px;
    height: 70px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
}

.Button:hover {
    opacity: 0.7;
    font-style: italic;
}

.Button:focus {
    outline: none;
}

.Table {
    font-size: 15px;
    float:left;
    margin-left: 30px;
}

