@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

 body {
    font-family: 'Old Standard TT', serif;
    margin: 25px;
 }

 input {
    font-family: 'Old Standard TT', serif;
 }

 h2 {
    font-family: 'Playfair Display SC', serif;
    border-bottom: solid 1px black;
    border-top:solid 1px black;
 }

 .Contacts tr:nth-child(even) {
     background-color: #e9e6e6;
    }

.Contacts th {
    background-color: #dfdfdf;
    padding: 0.5rem;
}

.Contacts td {
    padding: 0.5rem;
}

.Phonenumber {
    text-align: center;
}

.Delete input {
    border-radius: 50%;
    border: black 1px solid;
    opacity: .6;
}

.Delete input:hover{
    opacity: 1;
}

input:focus {
    outline: none;
}

.Form button {
    margin-top: 15px;
    background-color: white;
    margin-left: 95px;
    border: none;
    font-family: 'Playfair Display SC', serif;
    border-bottom: solid black 1px;
    border-top: solid black 1px;  
    cursor: pointer;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

.Form button:hover {
    background-color: rgba(211, 211, 211, 0.5);
    border-bottom: dashed black 1px;
    border-top: dashed black 1px; 
    padding-top: 1px; 
    padding-bottom: 1px; 
}

.Notification {
    margin-bottom: 15px;
    opacity: .7; 
    width: 50%;
    background-color: green;
    color: white;
    padding: 10px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3),
            10px 10px 15px rgba(0,0,0,0.3),
            -1px -1px 30px rgba(0,0,0,0.1);
}

.Error {
    background-color: red;
}

.DisplayNone{
    display: none;
}



